<!DOCTYPE html>
<html>

  <head>
    <title>{{{status}}}</title>
  </head>

  <body>
    <h1> Error Page from server rendering. </h1>

    <h3>{{{ status }}}</h3>
    <p>{{{ message }}}</p>
  </body>

</html>
