.DS_Store
snippod_webapp/.DS_Store
snippod_webapp/node_modules
snippod_webapp/*.log
snippod_webapp/dist
snippod_webapp/client/bower_components
snippod_webapp/.tmp
snippod_webapp/.grunt
snippod_webapp/.yo-rc.json

snippod_boilerplate/.DS_Store

# python fabric
fabric/
fabfile/

# Python compiled byte code
*.pyc

# SQLite3 database
*.sqlite3

# Staticfiles
staticfiles/

# vrtualenv
venv/

#backup
backup/
