# Copy all gitignore from snippod-webapp

.DS_Store
.idea

node_modules/
dist/
*.iml
webpack-stats.json
npm-debug.log
auto_default_code/

# From snippod-webapp
snippod-webapp/.DS_Store
snippod-webapp/.idea
snippod-webapp/node_modules/
snippod-webapp/dist/
snippod-webapp/semantic/dist/
snippod-webapp/semantic/examples/
snippod-webapp/semantic/Semantic-UI-Docs/
snippod-webapp/_translations
snippod-webapp/*.iml
snippod-webapp/webpack-stats.json
snippod-webapp/webpack-assets.json
snippod-webapp/npm-debug.log

snippod_webapp_reflux/.DS_Store
snippod_webapp_reflux/node_modules
snippod_webapp_reflux/*.log
snippod_webapp_reflux/dist/server
snippod_webapp_reflux/dist/client/.map
snippod_webapp_reflux/dist/client/docs
snippod_webapp_reflux/client/bower_components
snippod_webapp_reflux/.tmp
snippod_webapp_reflux/.grunt
snippod_webapp_reflux/.yo-rc.json

snippod_boilerplate/.DS_Store

# python fabric
fabric/
fabfile/

# django migrations
djangoapps/*/migrations

# Python compiled byte code
*.pyc

# SQLite3 database
*.sqlite3

# Staticfiles
#staticfiles/

# vrtualenv
venv/

#backup
backup/
staticfiles/


#log
logs/*.log

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
