{% load static argonauts %}
<html>
  <head>
    <link rel="stylesheet" href="{% get_static_prefix %}css/pure.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% get_static_prefix %}css/app.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% get_static_prefix %}css/griddle.css" type="text/css" media="screen" />


  </head>

  <h1>Django-React integration</h1>

  <h2>Hello world sample</h2>
  <div id="react-container-hello-world">{{ rendered_hello_world }}</div>

  <h2>Single comment sample</h2>
  <div id="react-container-comment">{{ rendered_comment }}</div>

  <h2>Multiple comments (fixed data) sample</h2>
  <div id="react-container-comments-fixed">{{ rendered_comments_fixed }}</div>

  <h2>Multiple comments (fixed data) sample with Griddle</h2>
  <div id="react-container-comments-fixed-with-griddle">{{ rendered_comments_fixed_with_griddle }}</div>


  <h2>Multiple comments (real data from db) sample</h2>
  <div id="react-container-comments">{{ rendered_comments }}</div>

  <h2>Comment box</h2>
  <div id="react-container-comment-box"></div>


  <script src="{% get_static_prefix %}libs/jquery.js"></script>
  <script src="{% get_static_prefix %}build/app_webpack.js"></script>


  <script>
  var react_ctx_comment = {{ react_ctx_comment | json }};
  React.render(React.createFactory(Comment)(react_ctx_comment), document.getElementById('react-container-comment'));

  var react_ctx_comments_fixed = {{ react_ctx_comments_fixed | json }};
  React.render(React.createFactory(Comments)(react_ctx_comments_fixed), document.getElementById('react-container-comments-fixed'));

  React.render(React.createFactory(Griddle)({showFilter: true, results: react_ctx_comments_fixed.comments}), document.getElementById('react-container-comments-fixed-with-griddle'));


  var react_ctx_comments = {{ react_ctx_comments | json }};
  React.render(React.createFactory(Comments)(react_ctx_comments), document.getElementById('react-container-comments'));

  window.rerenderComments = function () {
     React.render(React.createFactory(Comments)(react_ctx_comments), document.getElementById('react-container-comments'));
  }
  React.render(React.createFactory(HelloWorld)(null), document.getElementById('react-container-hello-world'));
  React.render(React.createFactory(CommentBox)(null), document.getElementById('react-container-comment-box'));

  window.csrftoken = '{{ csrf_token }}';

</script>
</html>
