option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "snippod_boilerplate.settings.prod"
    PYTHONPATH: "/opt/python/current/app/snippod_boilerplate:$PYTHONPATH"
    PARAM1: "production"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "snippod_boilerplate/snippod_boilerplate/wsgi.py"

container_commands:
  00_packages:
    command: "pip install -r requirements/common.txt && pip install -r requiremnets/prod.txt"

  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
