option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "snippod_boilerplate.settings.prod"
    PYTHONPATH: "/opt/python/current/app:$PYTHONPATH"
    PARAM1: "production"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "snippod_boilerplate/wsgi.py"

container_commands:
  00_packages:
    command: "pip install -r requirements/common.txt  --allow-external mysql-connector-python && pip install -r requiremnets/prod.txt"

  01_createsu:
    command: "manage.py createsuperuser"

  01_migrate:
    command: "manage.py migrate"
    leader_only: true
