option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "snippod_boilerplate.settings.prod"
    PYTHONPATH: "/opt/python/current/app:$PYTHONPATH"
    PARAM1: "production"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: snippod_boilerplate/wsgi.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "staticfiles/"

container_commands:

  00_packages:
    command: "pip install -r requirements/common.txt && pip install -r requirements/prod.txt"

  01_migrate:
    command: "python manage.py migrate"
    leader_only: true

  02_createsu:
    command: "python manage.py createsu"
    leader_only: true

  03_collectstatic:
    command: "python manage.py collectstatic --noinput --clear"
