body {
  margin: 20px auto 0 auto;
  width: 800px;
  background: #efefef;
  font-family: sans-serif;
  font-size: 14px;
}

div {
  margin: 20px;
  cursor: pointer;
}
dt {
  display: inline-block;
}

label {
  display: block;
}


div.top-section {
  display: inline-block!important;
}
