<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--FIXME : 수정요망-->
  <title>Generator-Snippod-Starter Server rendering page</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
{{{ body }}}
<!--<script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>-->
<!--<script src="js/bundle.js"></script>-->
</body>
</html>
