{% load staticfiles argonauts %}

<!DOCTYPE html>
<!--[if lte IE 8]><html class="lt-ie9  no-js" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en" class="no-js"><!--<![endif]-->

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title>snippod-boilerplate-server</title>
  <meta name="description" content="This page is not for client. This server is only for the REST API."/>
  <meta name="author" content="Seonggyu Lee"/>

</head>

<body>
  <!--[if lte IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <p> This page is not for the client. This server is only for the REST API.</p>
  <p> Check this <a href="./api/v1/">url</a>.</p>

  <!-- Application loads here -->
  <div id="app-wrapper" ></div>

</body>
</html>

